:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(45, 43, 43);
  color: white;
}
.background{
  background-image: url('https://wallpapercave.com/wp/wp1843759.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
}
h1, p{
  margin: 0;
  padding: 0;
}

